<div class="farmers-management">
	<h3>
		Farmer Management
	</h3>
	<table>
		<tr>
			<td>
				<mat-form-field>
					<input matInput #input placeholder="First Name">
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<input matInput #input placeholder="Last Name">
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<mat-form-field>
					<input matInput #input placeholder="Father Name">
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<mat-select placeholder="Cattle Type">
						<mat-option value="">Option</mat-option>
						<mat-option value="cow">Cow</mat-option>
						<mat-option value="goat">Goat</mat-option>
						<mat-option value="Sheep">Sheep</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<mat-form-field>
					<mat-select placeholder="State">
						<mat-option value="">Option</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<mat-select placeholder="District">
						<mat-option value="">Option</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
		</tr>

		<tr>
			<td>
				<mat-form-field>
					<mat-select placeholder="City/Town">
						<mat-option value="">Option</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<input matInput #input placeholder="Area">
				</mat-form-field>
			</td>
		</tr>

		<tr>
			<td>
				<mat-form-field>
					<input matInput #input placeholder="Company Name">
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<input matInput #input placeholder="Contact Number">
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<mat-form-field>
					<input matInput #input placeholder="Generate Tag">
				</mat-form-field>
			</td>
			<td>
				<button mat-raised-button color="primary">Generate Tag</button>
			</td>
		</tr>
		<tr>
			<td>
				<mat-form-field>
					<input matInput #input placeholder="Sum Insured">
				</mat-form-field>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<mat-form-field>
					<input matInput #input placeholder="Farmer Share">
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<input matInput #input placeholder="Govt Share">
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<mat-form-field>
					<input matInput #input placeholder="Service Pay">
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<input matInput #input placeholder="Total">
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td style="text-align:right">

				<button mat-raised-button color="primary">Add Farmer</button>

			</td>
			<td>

				<button mat-raised-button color="warn">Reset/Clear </button>

			</td>
		</tr>

	</table>

</div>