.sidenav-container {
    height: 100%;
    .sidenav {
        min-width: 200px;
        box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
        .admin-card {
            margin: 10px;
            .header-image {
                background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
                background-size: cover;
            }
        }
    }
}